@charset "UTF-8"
    
html{
    font-size:62.5%;
}
*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background: #151515 url('../images/bg.png') no-repeat fixed left bottom;
    background-size: cover;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
/*ヘッダー部分*/
.header{
    padding: 170px 30px 80px;
}

.site-title-sub{
    margin: 0 0 30px;
    letter-spacing: 1px;
    font-size: 2.2rem;
}

.site-title-sub::before,
.site-title-sub::after{
    content: '';
    display: inline-block;
    width: 140px;
    height: 2px;
    margin: 0 30px;
    background-color: #fff;
    vertical-align: middle;
}


.site-title{
    margin: 50px 0 40px;
    font-size: 3.0rem;
}

.site-description{
    margin-bottom: 50px;
    color: #888;
    font-size: 1.6rem;
}

.button{
    display: inline-block;
    width: 200px;
    padding: 10px 0px;
    border-radius: 4px;
    background-color: #f1b400;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.button:hover{
    opacity: 0.9;
}

/*Palmyの紹介*/
.about{
    padding: 80px 30px;
    background-color: #fff;
    color: #333;
}

.heading{
    position: relative;
    display: inline-block;
    margin: 30px 0 15px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    font-size: 3rem;
}
.heading::before,
.heading::after{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #999;
}
.heading::before{
    bottom: 5px;
}

.palmy-text{
    margin: 30px 0;
    line-height: 2.5;
}

/*Categoriesの部分*/
.categories{
    background-color: #3e3d3d;
    padding: 80px 0;
}


.categories a{
    text-decoration: none;
    color: #fff;
}
.categories-main{
    vertical-align: top;
}

.categories-box{
    display: inline-block;
}

.categories-box-header{

}

.categories-box1-icon{
}

.categories-box1-furniture{
    padding: 10px 0;
    font-size: 1.3rem;
}

.categories-box-contents{
    border: medium #9f9797 solid;
    border-radius: 10px;
}

.categories-box-contents ul{
    height: 200px;
    overflow: scroll;
    
}

.categories-box-contents ul li{
    list-style: none;
    margin: 10px 0;
    padding: 0;
    width: 200px;
    height: 30px;
    letter-spacing: normal;
    text-align: left;
    font-size: 0.8rem;
}

.categories-box-contents ul li a{
    color: #fff;
    text-decoration: none;
}

.categories-box2-icon{
}

.categories-box2-electronics{
    padding: 10px 0;
    font-size: 1.3rem;
}

.categories-box3-icon{
}

.categories-box3-book{
    padding: 10px 0;
    font-size: 1.3rem;
}

.categories-box4-icon{
}

.categories-box4-vehicle{
    padding: 10px 0;
    font-size: 1.3rem;
}

.categories-box5-icon{
}

.categories-box5-manga{
    padding: 10px 0;
    font-size: 1.3rem;
}

/*contact*/

.contact{
    padding: 80px 0 150px;
}

.contact-form{
    width: 50%;
    margin: 50px auto 0;
}

.contact-form input[type=text],
.contact-form textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    outline: none;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 0;
    background-color: rgba(255,255,255,0.05);
    color: #fff;
}

.contact-form textarea{
    height: 150px;
}

.contact-form input[type=submit]{
    display: block;
    width: 200px;
    margin: 40px auto 0;
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.contact-form input[type=submit]:hover{
    background-color: rgba(255,255,255,0.05);
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus{
    box-shadow: 0 0 8px rgba(255,255,255,0.5)inset;
}

.footer{
    padding: 12px 0;
    font-size: 1.0rem;
}


/*メディアクエリ(スマホ用)*/
@media (max-width: 1024px){
    body{
    background-image: none;
    }
}

@media (max-width: 768px){

    .site-title-sub::before,
    .site-title-sub::after{
        display: block;
        width: 50%;
        margin: 10px auto;
    }

    .site-title-sub{
        font-size: 1.7rem;
    }

    .site-title{
        margin-top: 35px;
        font-size: 2.2rem;
    }

    .header{
        padding-top: 60px;
    }

    .button:hover{
        opacity: 1;
    }

    .heading{
        font-size: 2.5rem;
    }

    body{
    font-size: 1.3rem;
    }

    .palmy-text{
        line-height: 1.8;
        font-size: 1.1rem;
    }
    
    .categories-main{
        display: block;
    }
    
    .categories-box-contents{
        width: 250px;
    }
    
    .categories-box contents ul{
       
    }
    
    .categories-box contents ul li{
     
    }
    
    .categories-box-contents ul li a{
    color: #fff;
    text-decoration: none;
}

   .contact-form{
       width: 80%;
   }
    
    .contact{
        padding-bottom: 80px;
    }
    
}